.input {
  width: 100%;
  padding: 20px 23px;
  padding-left: 53px;
  border: none;
  border-radius: 5px;
}

.input::placeholder {
  color: var(--placeholder-color);
}

.form {
  position: relative;
  margin-bottom: 16px;
}

.form::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;

  border-radius: 50%;
  border: solid 1px var(--border-color-radio-check);

  left: 23px;
  top: 50%;
  transform: translateY(-50%);
}

