@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

:root {
	/* Light Theme */
	--veryLightGray: hsl(0, 0%, 98%);
	--veryLightGrayishBlue: hsl(236, 33%, 92%);
	--lightGrayishBlue: hsl(233, 11%, 84%);
	--darkGrayishBlue: hsl(236, 9%, 61%);
	--veryDarkGrayishBlue: hsl(235, 19%, 35%);

	/* COMPONENTS */
	--body-image: url('../images/bg-mobile-dark.jpg');
	--body-bg: var(--veryLightGrayishBlue);

	--page-title-color: #ffffff;

	--input-placeholder-color: var(--lightGrayishBlue);

	/* List items */
	--list-bg: #ffffff;
	--list-color-empty: var(--darkGrayishBlue);

	/* List item */
  --list-item-border-color: var(--veryLightGrayishBlue);
	--list-item-dashed-color: var(--veryLightGrayishBlue);
	--list-item-color: var(--darkGrayishBlue);

	/* radio component */
	--radio-border-color: var(--veryLightGrayishBlue);

	/* button component? */
	--clear-button-color: var(--lightGrayishBlue);
}

body {
	background-color: var(--body-bg);
	background-image: var(--body-image);
	background-repeat: no-repeat;
	background-size: contain;

	font-family: 'Josefin Sans', sans-serif;
}
