.list-items {
  border-radius: 5px;
  background-color: var(--list-bg);
}

.empty {
  padding: 20px;
  color: var(--list-color-empty);
  font-style: italic;
  font-weight: 500;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 23px;
}

.remaining {
  font-size: 16px;
  color: var(--clear-button-color);
}

