.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px var(--veryLightGrayishBlue);
  font-weight: 600;
}

.list-item:last-of-type {
  border: none;
}

.remove {
  margin-right: 23px;
}
